* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e;
    background-image: url('backg_image.jpg');
    color: #ffffff;
    line-height: 1.6;
}

/*.background {
    background-image: url('backg_image.jpg');
    background-size: auto;
    background-position: center;
    filter: blur(10px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}*/

/*.content {
    background-image: url('cont_image.jpg');
    background-position: center;
    background-size: cover;
    filter: blur(5px);
}*/

header {
    background: url('backg_image.jpg') no-repeat center center/cover;
    height: 300px;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

header h1 {
    font-size: 25px;
    text-shadow: 2px 2px 4px #000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
    background: transparent(50%);
}

nav ul li a {
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #333;
    display: block;
    font-size: 1.2rem;
}

nav ul li ul.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1000;
}

nav ul li ul.dropdown li {
    display: block;
}

nav ul li ul.dropdown li a {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    display: block;
    background-color: #444;
}

nav ul li ul.dropdown li a:hover {
    background-color: #555;
}

nav ul li:hover ul.dropdown {
    display: block;
}

section {
    padding: 40px 20px;
    text-align: center;
}

section img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.character {
    display: inline-block;
    margin: 20px;
}

.character img {
    border-radius: 50%;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
